<%= form_with(model: high_score, local: true) do |form| %>
  <% if high_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(high_score.errors.count, "error") %> prohibited this high_score from being saved:</h2>

      <ul>
      <% high_score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game %>
    <%= form.text_field :game, id: :high_score_game %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.number_field :score, id: :high_score_score %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
