<%= form_for(@breed) do |f| %>
  <% if @breed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@breed.errors.count, "error") %> prohibited this breed from being saved:</h2>

      <ul>
      <% @breed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label I18n.t("breed.name") %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label I18n.t("breed.size") %><br>
    <%= f.number_field :size %>
  </div>
  <div class="field">
    <%= f.label I18n.t("breed.weight") %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label I18n.t("breed.country_id") %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label I18n.t("breed.url_info") %><br>
    <%= f.text_field :url_info %>
  </div>
  <div class="field">
    <%= f.label I18n.t("breed.description") %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
