<p id="notice"><%= notice %></p>

<h1><%= I18n.t("breed.listing") %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= I18n.t("breed.name") %></th>
      <th><%= I18n.t("breed.size") %></th>
      <th><%= I18n.t("breed.weight") %></th>
      <th><%= I18n.t("breed.country_id") %></th>
      <th><%= I18n.t("breed.url_info") %></th>
      <th><%= I18n.t("breed.description") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @breeds.each do |breed| %>
      <tr>
        <td><%= breed.name %></td>
        <td><%= breed.size %></td>
        <td><%= breed.weight %></td>
        <td>
          <% if breed.country.present? %>
            <%= image_tag("/images/blank.png", class: "flag flag-#{breed.country.code.downcase}", alt: breed.country.name) if breed.country.code.present? %>
          <% end %>
        </td>
        <td><%= breed.url_info %></td>
        <td><%= breed.description %></td>
        <td><%= link_to I18n.t("actions.show"), breed %></td>
        <td><%= link_to I18n.t("actions.edit"), edit_breed_path(breed) %></td>
        <td><%= link_to I18n.t("actions.destroy"), breed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Breed', new_breed_path %>
