<p id="notice"><%= notice %></p>
<p>
<strong><%= I18n.t("breed.name") %></strong>
<%= @breed.name %>
</p>
<p>
<strong><%= I18n.t("breed.size") %></strong>
<%= @breed.size %>
</p>
<p>
<strong><%= I18n.t("breed.weight") %></strong>
<%= @breed.weight %>
</p>
<p>
<strong><%= I18n.t("breed.country") %></strong>
<%= @breed.country %>
</p>
<p>
<strong><%= I18n.t("breed.url_info") %></strong>
<%= @breed.url_info %>
</p>
<p>
<strong><%= I18n.t("breed.description") %></strong>
<%= @breed.description %>
</p>

<%= link_to I18n.t("actions.edit"), edit_breed_path(@breed) %> |
<%= link_to I18n.t("actions.back"), breeds_path %>
